body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  header {
    background-color: #293b5f;
    padding: 20px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
  }
  
  .author-section {
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
  }
  
  .author-info {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .author-image img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
  }
  
  .author-details {
    text-align: left;
  }
  
  .author-details h2 {
    margin-top: 0;
  }
  
  .faq-item .faq-answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease, padding 0.3s ease, margin 0.3s ease;
  }
  
  .faq-item.open .faq-answer {
    max-height: 1000px;
  }
  
  .faq-question {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
  }
  
  .faq-question::after {
    content: "+";
    font-weight: bold;
    margin-left: 10px;
    transition: transform 0.3s ease;
  }
  
  .faq-item.open .faq-question::after {
    content: "-";
    transition: transform 0.3s ease;
  }
  
  .faq-question:hover {
    background-color: #e0e0e0;
  }
  
  .faq-question:focus {
    outline: none;
  }
  
  .faq-answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease, padding 0.3s ease, margin 0.3s ease;
    border-bottom: 1px solid lightgray;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
  