body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: #333;
  }
  
  header {
    background-color: #293b5f;
    padding: 20px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
  }
  
  .card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    overflow: hidden;
  }
  
  .card {
    width: 400px;
    height: 400px;
    background: linear-gradient(135deg, #009245, #FCEE21);
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    position: absolute;
  }
  
  .card-content {
    padding: 20px;
  }
  
  .card img {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
  }
  
  .buttons {
    text-align: center;
    margin-top: 30px;
  }
  
  .buttons button {
    background-color: #293b5f;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 20px;
  }
  